.connect {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 20px;
}

.icons {
    display: flex;
    margin-top: 15px;

    li {
        padding-right: 15px;

        a {
            color: #505f79;
        }

        a:hover {
            color: #6070ff;
        }
    }
}
