section.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom-left-radius: 7rem;

    .text {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 6.5rem;

        h1 {
            font-weight: bold;
            font-size: 48px;
            line-height: 60px;
            color: #091e42;
        }

        h2 {
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            max-width: 950px;
            margin-top: 10px;
            color: #344563;
        }
    }
}
