section.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 7rem;
    background: #fff url(../images/hero-bg.svg) no-repeat center 80px;

    @media screen and (max-width: 876px) {
        background-image: url(../images/hero-bg-mobile.svg);
        background-size: cover;
    }

    @media screen and (max-width: 576px) {
        background-size: contain;
    }

    .text {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 6.5rem;

        @media screen and (max-width: 576px) {
            padding: 0 2.5rem;
        }

        @media screen and (max-width: 480px) {
            padding: 0 1.5rem;
        }

        h1 {
            font-weight: bold;
            font-size: 48px;
            line-height: 60px;
            color: #091e42;

            @media screen and (max-width: 768px) {
                font-size: 40px;
                line-height: 52px;
            }
        }

        h2 {
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            max-width: 950px;
            margin-top: 10px;
            color: #344563;

            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
