header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;

    .navbar {
        max-width: 1400px;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;

        .logo {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 20px;
            padding: 0 20px;
            color: #6070ff;
        }

        .links {
            display: flex;

            li {
                padding: 0 20px;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}
